.access_management_block{
  max-width: 400px;
}
.access_management_block h2{
  font-size: 1.2em;
  color: #333;
  padding-top: 28px;
  padding-bottom: 8px;
}
.access_management_block form{
  max-width: 300px;
}
.access_management_block .button{
  margin-top: 20px;
}
.access_management_block .number, .access_management_block label,.access_management_block select{
  width:100%;
}
.access_management_block #role_permission_ids{
	height: 600px;
}