
<div style="width: 760px; margin: 0 auto;">
    <button class="save-preset">Save Preset</button>

    <%= render 'shared/room_editor', product: @product %>
</div>


<div style="text-align: center;">
	<button class="save-image">Save as Image</button>
</div>