
<div style="width: 760px; height: <%= @product.height + 300 %>px; margin: 0 auto;">
    <button class="save-preset">Save Preset</button>

    <%= render 'shared/room_editor', product: @product %>
</div>