
<div class='room-editor-container' style="margin: 0 auto;">
    <button class="save-preset">Save Preset</button>

    <%= render partial: 'shared/room_editor', locals: { product: @product, preset: true } %>
</div>

