<div class="navigation-holder">
  <button class="add-draggable">Add element</button>
  <h3>
    Rotate current
    <input type="number" class="rotation-manager" min="0" max="360" step="1">
  </h3>
</div>

<div class="editor-container">
    <div id="drag-1" class="draggable">
        <p> You can drag one element </p>
    </div>
    <div id="drag-2" class="draggable">
        <p> with each pointer </p>
    </div>
</div>