<% product.included_products.each do |item| %>
  <div class='draggable2 items-panel-elem' data-id="<%= item.id %>">
    <% if image_link(item, 'image6') %>
      <%= image_tag image_link(item, 'image6'), width: '100%', height: '100%' %>
    <% end %>
  </div>
<% end %>
