%table.data.orderItems
%thead
  %tr
    %th.name= t('shoppe.logistics.titles.zones')
%tbody
  %tr.item{:class => 'existing'}
    %td.name= f.collection_select(:zone_ids, Shoppe::Zone.order("name"), :id, :name, {:selected => @freight_company.zone_ids, include_hidden: false}, {:multiple => true, :size =>  Shoppe::Zone.all.size})
