<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Contact Us</h3>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
		<div class="col-md-6">
	        <h3><a href="mailto:hi@gofourwalls.com?subject=Questions About Four Walls" class="btn-landing" style="color: black; border-color: black;">Email Us</a></h3>
			<br/>
	        <p class="large text-muted">We'd love to hear from you!</p>
			
		</div>
		<div class="col-md-6">
			<h3><a href="#find-us" class="btn-landing" style="color: black; border-color: black;">Find Us</a></h3>
			<br />
			<p><img id="find-us" class="contact-icons" src="https://s3.amazonaws.com/gofourwalls/globalimages/icons/location.png" alt="Showroom Location" width="30px" height="auto" /><strong> Toronto Showroom</strong></p>

			<p><strong><a style="color: #f49224;" href="mailto:hi@gofourwalls.com?subject=I'd like to visit the showroom">Make an appointment</a></strong> to check out our showroom inside <a style="color: #f49224;" href="http://fitfactoryfitness.com/" target="_blank">Fit Factory Fitness</a> at <a style="color: #f49224;" href="https://www.google.ca/maps/place/Fit+Factory+Fitness/@43.64587,-79.392968,17z/data=!3m1!4b1!4m2!3m1!1s0x882b34b3cc3a0b19:0x665c6135bc5d4a99" target="_blank">373 King St West, Toronto, M5V 1K1</a>.</p>
		</div>
		
    </div>
</div>