<main>
    <div class="welcome-message">
        <div class="l-wrapper">
            <p class="welcome-message__text">Hey [Name], here is a summary of your account activites:</p>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">room design projects</h2>
            <div class="table">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell">creation date</div>
                    <div class="table__cell">last modefied date</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell">Oct 31, 2015</div>
                    <div class="table__cell">Oct 31, 2015 2:39pm</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell">Sept 14, 2015</div>
                    <div class="table__cell">Sept 30, 2015 2:39pm</div>
                </div>
            </div>
            <button class="one-table__btn" type="button">create new project</button>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">order history</h2>
            <div class="table">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell">creation date</div>
                    <div class="table__cell">last modefied date</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell">Oct 31, 2015</div>
                    <div class="table__cell">Oct 31, 2015 2:39pm</div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell">Sept 14, 2015</div>
                    <div class="table__cell">Sept 30, 2015 2:39pm</div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-table">
        <div class="l-wrapper">
            <h2 class="one-table__title">recent product visits</h2>
            <div class="table table--three-col">
                <div class="table__row table__row--head">
                    <div class="table__cell table__cell--first-cell">project name</div>
                    <div class="table__cell">status</div>
                    <div class="table__cell">submission date</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project1-name</a></div>
                    <div class="table__cell">Daft</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
                <div class="table__row">
                    <div class="table__cell table__cell--first-cell"><a href="#">project2-name</a></div>
                    <div class="table__cell">Submited</div>
                    <div class="table__cell">Sept 30, 2015</div>
                    <div class="table__cell"></div>
                    <div class="table__cell"></div>
                </div>
            </div>
        </div>
    </div>
</main>