<div class='content-page-image-block'>
    <img class="content-page-image" src="<%= Rails.application.config.carousel_shop_about_blog %>">
    <div class='page-name'>
        <b>ABOUT US</b>
    </div>
</div>

<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Four walls is re-inventing the way people furnish their homes.</h3>
<div class="container">
	<p>	  
	  our Walls is different from the conventional online furniture stores. At Four Walls, you are getting the entire room design rather than individual items. We offer <strong>Room In A Box</strong> solutions to make furnishing and interior design quick and easy, one room at a time. 
</p>
<h3 class="text-center" style="margin-top: 2em; color: #f49224;">How It Works</h3>

<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img style="margin: 0 auto;" src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-1-roomtype.jpg" alt="How It Works - 1. Choose the room" width="20%" height="auto" />
<h4>1. Choose the room type</h4>
&nbsp;

Pick the room in your home that needs furnishing. Whether it’s your living room or bedroom, we’ve got the design for you!

</div>
<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-3-getroom.jpg" alt="How It Works - 2. Choose the design" width="20%" height="auto" />
<h4>2. Choose the design</h4>
&nbsp;

Choose the look that best suits your style. All our rooms are designed professionally to maximize function and style.

</div>
<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-2-roomsize.jpg" alt="How It Works - 3. Choose the space" width="20%" height="auto" />
<h4>3. Choose the option</h4>
&nbsp;
Select the option that fits your needs and space: small, medium or large. Use our room planner to see if the option fits into your space. 

<hr>
  	
</div>


<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Your home deserves the design touch. Convenience is key.</h3>
<p>
Simply add the room you want to the shopping cart and complete the checkout process. We will contact you directly to set up a delivery date. Upon delivery, our professional installers will make sure the entire room is set up and cleaned up.  

  </p>
<br / >

<!-- Team Section -->
<!-- 
<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="text-center" style="margin-top: 2em; color: #f49224;">Our Amazing Team</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="team-member">
            <img src="https://s3.amazonaws.com/gofourwalls/team/Michael_Van.jpg" class="img-responsive img-circle" alt="Michael Van" width="200px" height="auto">
            <h4>Michael Van, CPA, CMA</h4>
            <p class="text-muted">CEO, Founder</p>
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/iammikevan"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/mike.van.toronto"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://ca.linkedin.com/in/michael-van-cpa-cma-795a9a11"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="https://s3.amazonaws.com/gofourwalls/team/Karen_Lau.jpg" class="img-responsive img-circle" alt="Karen Lau" width="200px" height="auto">
            <h4>Karen Lau, PMP</h4>
            <p class="text-muted">CTO, Design Lead, Founder</p>
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/karenlau_ck"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/karen.lau.3979"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/karenlau01"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="https://s3.amazonaws.com/gofourwalls/team/Arash_Moghani.jpg" class="img-responsive img-circle" alt="Arash Moghani" width="200px" height="auto">
            <h4>Arash Moghani, MBA</h4>
            <p class="text-muted">Partnership Development Lead</p>
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/arash.moghani"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/arashmoghani"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="https://s3.amazonaws.com/gofourwalls/team/Lisa_Hsieh.jpg" class="img-responsive img-circle" alt="Lisa Hsieh" width="200px" height="auto">
            <h4>Lisa Hsieh</h4>
            <p class="text-muted">Marketing Lead</p>
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/lisa.w.hsieh"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://ca.linkedin.com/in/lhsieh"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
<%= render 'contact_us' %>
<br/>


<!-- Modal -->
<div class="modal" id="contactus-modal" role="dialog" style="width: 95%; min-width: 80%; opacity: 0.8;">
	<div class="modal-dialog">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 style="color:black;"><span class="glyphicon glyphicon-lock"></span>Contact Us</h4>
	    </div>
	    <%= render 'contact_us' %>
    
	  </div>
	</div>
</div> 
