<div class='content-page-image-block'>
    <img class="content-page-image" src="<%= Rails.application.config.carousel_shop_about_blog %>">
    <div class='page-name'>
        <b>ABOUT US</b>
    </div>
</div>

<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Four walls is re-inventing the way people furnish their homes.</h3>
<div class="container">
	<p>	  
	  Moving is a daunting task, whether you’re starting fresh in an empty dorm room or furnishing your first family home. It’s labour intensive, time consuming and all-around stressful, especially for those moving into a place of their own for the very first time. Not only do they need to find that perfect space, but they need to furnish it too.
</p>
<p>

	  Four walls is here to make the process easier. Now you can purchase all the basics you need, delivered and set up, all at once. So you can start enjoying your new place immediately. Personalize to your tastes with accents to create your dream rooms.

</p>
<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Four walls offers rooms in a box</h3>
<p>
	  All the furniture you need for a specific room, designed to fit in urban layouts. Select from the core designs by our team to serve as a neutral backdrop and personalize it with curated décor packages to suite your tastes and needs.
	
  </p>
<hr>
  	
</div>


