<div class='content-page-image-block'>
    <img class="content-page-image" src="<%= Rails.application.config.carousel_shop_about_blog %>">
    <div class='page-name'>
        <b>ABOUT US</b>
    </div>
</div>

<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Four walls is re-inventing the way people furnish their homes.</h3>
<div class="container">
	<p>	  
	  our Walls is different from the conventional online furniture stores. At Four Walls, you are getting the entire room design rather than individual items. We offer <strong>Room In A Box</strong> solutions to make furnishing and interior design quick and easy, one room at a time. 
</p>
<h3 class="text-center" style="margin-top: 2em; color: #f49224;">How It Works</h3>

<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img style="margin: 0 auto;" src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-1-roomtype.jpg" alt="How It Works - 1. Choose the room" width="20%" height="auto" />
<h4><a style="color: #000;" href="http://gofourwalls.com/shop">1. Choose the room type</a></h4>
&nbsp;

Pick the room in your home that needs furnishing. Whether it’s your living room or bedroom, we’ve got the design for you!

</div>
<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-3-getroom.jpg" alt="How It Works - 2. Choose the design" width="20%" height="auto" />
<h4><a style="color: #000;" href="http://gofourwalls.com/shop">2. Choose the design</a></h4>
&nbsp;

Choose the look that best suits your style. All our rooms are designed professionally to maximize function and style.

</div>
<div class="col-md-4 " style="text-align: center; margin-bottom: 30px;">

<img src="https://s3.amazonaws.com/gofourwalls/globalimages/how-it-works-2-roomsize.jpg" alt="How It Works - 3. Choose the space" width="20%" height="auto" />
<h4><a style="color: #000;" href="http://gofourwalls.com/shop">3. Choose the option</a></h4>
&nbsp;
Select the option that fits your needs and space: small, medium or large. Use our room planner to see if the option fits into your space. 

<hr>
  	
</div>


<h3 class="text-center" style="margin-top: 2em; color: #f49224;">Your home deserves the design touch. Convenience is key.</h3>
<p>
Simply add the room you want to the shopping cart and complete the checkout process. We will contact you directly to set up a delivery date. Upon delivery, our professional installers will make sure the entire room is set up and cleaned up.  

  </p>
<br / >
