<div class='content-page-image-block'>
    <img class="content-page-image" src="<%= Rails.application.config.carousel_shop_about_blog %>">
    <div class='page-name'>
        <b>BLOG</b>
    </div>
</div>