<main>
    <div class="main-tabs">
        <div class="l-wrapper">
          <%=  link_to 'project info', designer_portal_path, class: "main-tabs__one-tab" %>
          <%= link_to 'select items', designer_portal_select_items_path, class: "main-tabs__one-tab", id: 'select-items-tab' %>
          <%= link_to 'room builder', designer_portal_room_builder_path, class: "main-tabs__one-tab" %>
          <%= link_to 'instructions', "#", class: "main-tabs__one-tab main-tabs__one-tab--active" %>
        </div>
    </div>
    <div class="l-wrapper">
        
    </div>
</main>