<div class='row'>
    <div class='cell'>Cart Total</div>
    <div class='cell cart-value'><%= number_to_currency(order.cart_total_cost, unit: "$", format: "%u%n") %></div>
</div>
<div class='row'>
</div>
<div class='row'>
    <div class='cell'>Estimated Tax</div>
    <div class='cell cart-value'><%= number_to_currency(order.tax, unit: "$", format: "%u%n") %></div>
 </div>

 <div class='row'>
    <div class='cell'><br></div>
    <div class='cell'><br></div>
 </div>

 <div class='row total'>
    <div class='cell'></div>
    <div class='cell'></div>
 </div>

<div class='row'>
    <div class='cell'>Order Total</div>
    <div class='cell cart-value'><%= number_to_currency(order.total, unit: "$", format: "%u%n") %></div>
</div>