<div class="container">	  

	<h2 style='padding-left: 2em; padding-top: 1em; '>Step 2 of 3: Add Billing and Delivery Info</h2>
	<%= render 'final_items', :order => @order %>
	<%= render 'addresses', :order => @order %>
	
</div>
