<div class="container">	  

	<h2 style='padding-left: 2em; padding-top: 1em; '>Step 1 of 3: Confirm Your Order</h2>

	<% if current_order.order_items.empty? 	%>
		<div class="row"><div class="col-md-4" style="margin-left: 3em; margin-bottom: 1em;">Your cart is empty</div></div>
		<div class="row">
			<div class="col-md-4" style="margin-left: 3em;">
				<%= link_to 'Keep shopping', products_url, :class=> 'btn btn-xl center' %>
			</div>
		</div>
	<% else  %>
		<%= render 'final_items', :order => current_order %>
		<div class="row">
			<div class="col-md-4" style="margin-left: 3em;">
				<%= link_to "Checkout", checkout_path, :class=> 'btn btn-xl center ' %>
				<%= link_to 'Empty cart', cart_path, :method => :delete , :class=> 'back-link' %>
			</div>
		</div>
	<% end %>
</div>