<main>
            <div class="main-tabs">
                <div class="l-wrapper">
                    <a class="main-tabs__one-tab" href="/designer-portal">project info</a>
                    <a class="main-tabs__one-tab" href="/designer-portal/select_items">select items</a>
                    <a class="main-tabs__one-tab" href="/designer-portal/room_builder">room builder</a>
                    <a class="main-tabs__one-tab main-tabs__one-tab--active" href="#">instructions</a>
                </div>
            </div>
            <div class="l-wrapper">
                
            </div>
        </main>