<main>
            <div class="main-tabs">
                <div class="l-wrapper">
                    <a class="main-tabs__one-tab" href="/designer-portal">project info</a>
                    <a class="main-tabs__one-tab main-tabs__one-tab--active" href="#">select items</a>
                    <a class="main-tabs__one-tab" href="/designer-portal/room_builder">room builder</a>
                    <a class="main-tabs__one-tab" href="/designer-portal/instructions">instructions</a>
                </div>
            </div>
            <div class="l-wrapper">
                <div class="filters-section">
                    <aside class="filters">
                        <p class="filters__caption">Filter By</p>
                        <div class="one-filter-category">
                            <p class="one-filter-category__title">category</p>
                            <div class="one-filter-category__table">
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name one-filter-category__name--sub">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name one-filter-category__name--sub">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name one-filter-category__name--sub">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name one-filter-category__name--sub">Test Test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="one-filter-category">
                            <p class="one-filter-category__title">colors</p>
                            <div class="one-filter-category__table">
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="one-filter-category">
                            <p class="one-filter-category__title">materials</p>
                            <div class="one-filter-category__table">
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                                <div class="one-filter-category__row">
                                    <div class="one-filter-category__cell">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <div class="one-filter-category__cell">
                                        <p class="one-filter-category__name">Test Test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <article class="products-grid">
                        <div class="products-grid__btn-cont">
                            <a class="products-grid__left-btn" href="#">show all</a>
                            <button class="products-grid__right-btn" type="button">Add Selections to Room Builder</button>
                        </div>
                        <div class="one-products-category l-cont">
                            <div class="one-products-category__title l-el">sofas</div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                        <div class="one-products-category l-cont">
                            <div class="one-products-category__title l-el">sofas</div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                            <div class="one-products-category__product l-el">
                                <a class="one-products-category__anch" href="#">
                                    <img class="one-products-category__img" src="http://www.jensen-lewis.com/images/product/midthumbs/American-Leather-Furniture-03-Alessandro-Sofa.jpg">
                                </a>
                                <label class="one-products-category__label">
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </main>
        <script>
            ;(function() {
                var checkboxes = document.querySelectorAll(".one-products-category__label > input");
                console.log(checkboxes);
                for (var i = 0, lim = checkboxes.length; i < lim; i += 1) {
                    checkboxes[i].addEventListener("change", function() {
                        this.parentElement.previousElementSibling.classList.toggle("chosen");
                    });
                };
            })();
        </script>