.furniture-board-dragg {
    position: relative;
    margin: 0 auto;
}
.furniture-board-editor {
    border: 1px solid black;
}

.furniture-board-editor-items-panel {
  float: left;
  position: absolute;
  width: 10%;
  left: -10%;
  border: 1px solid black;
  display: none;
  height: auto;
}

.furniture-board-editor .draggable {
  border: 1px solid white;
  position: relative;
  transform-origin: top left;
}

.furniture-board-editor .draggable.active {
  border-color: #3eff00;
}

.furniture-board-editor .draggable:hover {
  border-color: #ffac00;
}

.furniture-board-editor .draggable.collision {
  border-color: red;
}

/*.room-builder-editor .draggable img {

}*/
