// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-details {
    color: #777777;
}

.product-details .row .col-md-4 .product-info {
    margin-right: 1em;
}

.product-details .row .col-md-4  {
    padding-left: 5%;
}

.product-details .row .col-md-8 {
    padding-right: 5%;
}

.carousel-indicators .carousel-indicators-image {
    height: 70px;
    max-width: auto;
    width: 100px;
}
P
.product-details .row .col-md-4 .product-info p.option {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 15px;
}

.product-details .row .col-md-4 .product-info p.product-description {
    margin-top: 15px;
}

.product-details .row .col-md-4 .product-info .variants-radio-button {
    margin-left: 25px;
    display: block;
}

.product-details .row .col-md-4 .product-info .buttons .btn {
    width: 100%;
}

.product-details .row .col-md-4 .product-info .buttons {
    width: 100%;
    margin: 0;
}

.product-details .row .col-md-4 .product-info .buttons .col-md-8 {
    padding-right: 4px;
    padding-left: 0;
}

.product-details .row .col-md-4 .product-info .buttons .col-md-4 {
    padding-left: 4px;
    padding-right: 0;
}

.product-details .row .col-md-4 .product-info .variant .included p {
    text-transform: uppercase;
}

.product-details .row .col-md-4 .product-info .variant .included {
    margin-top: 15px;
}

.product-details .row .col-md-4 .product-info .variant p.whats-included-on-product {
    margin-left: 25px;
}

.product-details .row .col-md-4 .product-info .buttons .btn {
    width: 100%;
    margin: 0;

    padding: .5em .5em;
    margin: .5em 0em;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.product-details .row .col-md-4 .product-info .buttons .col-md-8 .btn {
    background-color: #2d6d50;
    border-color: #2d6d50;
}

.included-product {
    overflow: hidden;
    padding: 5px;
    padding-bottom: 15px;
}

.included-product .product-list-image {
    float: left;
}

.included-product .product-list-description {
    overflow: hidden;
    padding-left: 1em;
}

.included-product .product-list-image {
    width: 300px;
    height: 200px;
}

.product-name a {
    color: #777777;
    text-transform: capitalize;
	font-family: "Didot 06 A","Didot 06 B";
}

.product-name a:hover {
    color: #777777;
}

.product-list-description {
    max-height: 200px;
}

.product-desc {
    max-height: 120px;
}

a.readmore {
    display: none;
}

/*#ProductCarousel
.carousel-item-product
img {

    width:auto;
    height: auto;
}
*/


.product_shipping_label{
	font-family: "Didot 06 A","Didot 06 B";
	padding: 10px 0 0px 0;
	letter-spacing: 1px;
	line-height: 1.4;
	font-weight: 300;
	color: black;
}

.product_shipping_value{
	font-family: 'Lato',sans-serif;
	letter-spacing: 1px;
	padding: 10px 0 10px 0;
	font-size: 10pt;
	line-height: 1.4;
	font-weight: 200;
	color: #333;
}
.product_shipping_info_content{
	width: 80%;
}

.description-area-row{
	background-color: #f9f9f9;
	text-align: left;
	padding: 5%;
	display: block;
}

.product-attribute-label{
	display: block;
	font-family: "Didot 06 A","Didot 06 B";
	padding: 0.5em 0 0 0;
	letter-spacing: 1px;
	line-height: 1.4;
	font-weight: 300;
	color: black;

}
.product-attribute-value{
	display: block;
	font-family: 'Lato',sans-serif;
	letter-spacing: 1px;
	padding: 0.5em 0 1em 0;
	font-size: 10pt;
	line-height: 1;
	font-weight: 200;
	color: #333;
}

.room-planner-intro{
	background-color: #f9f9f9;
	text-align: left;
	line-height: 1;
	padding: 5%;
	display: block;
	font-family: 'Lato',sans-serif;
	font-size: 10pt;
	letter-spacing: 1px;
}

.product-headings{
	font-family: "Didot 06 A","Didot 06 B";
	font-size: 14pt;
	line-height: 2;
	font-weight: 400;
	color: black;

}

.room-planner-intro li {
    margin-top: 1em;
}
