
.editor-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin: 10px auto;
  position: relative;
}

.editor-container .draggable {
  //width: 100px;
  //height: 100px;
  border: 1px solid white;
  position: relative;
  transform-origin: top left;
}

.editor-container .draggable:hover {
  border-color: #ffac00;
}

.editor-container .draggable.active {
  border-color: #3eff00;
}

.editor-container .draggable.collision {
  border-color: red;
}

.editor-width {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.editor-width input,
.editor-height input {
  width: 50px;
}

.rotation-manager {
  width: 40px;
}

.editor-height {
  float: right;
  position: relative;
  width: 9%;
  margin-top: 10px;
  left: 10%;
  height: 100%;
}

.editor-height img {
  position: absolute;
}

.height-manager {
  position: relative;
  top: 300px;
  left: 10px;
}

.editor-width img {
  display: block;
  position: relative;
  width: 100%;
}

.rotate-angle {
  position: relative;
  top: 300px;
  left: -90px;
}

.rotation-arrow {
  position: absolute;
  right: -20px;
  /*bottom: -20px;*/
}

.save-preset {
  margin-top: 10px;
}

.measure-width {
  position: absolute;
  background-color: white;
  padding: 0 7px;
  bottom: 0px;
  right: 45%;
}

.editor-line {
  z-index: -1;
}

.measure-height {
  position: absolute;
  background-color: white;
  padding: 7px 0;
  bottom: 48%;
}

.btn-guideline{
  padding: .5em .5em;
  margin: .5em 0em;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #777777;
  font-family: 'roboto_condensedregular', sans-serif !important;
}

.btn-guideline:hover {
    color: #ffffff !important;
}


#dimensions-dialog .form-group .form-control {
  width: 100px;
}

#dimensions-dialog .form-group .form-control {
  display: inline-block;
}

#dimensions-dialog {
  font-family: 'roboto_condensedregular', sans-serif !important;
}

#dimensions-dialog input {
  font-family: 'roboto_condensedregular', sans-serif !important;
}

button.ui-dialog-titlebar-close {
  width: 22px !important;
  height: 22px !important;
}

div#dialog-form-errors {
  color: #A94442;
}

.editor-items-panel{
  float: left;
  position: absolute;
  width: 10%;
  left: -10%;
  border: 1px solid black;
  display: none;
  height: auto;
}


.draggable2 {
  width:100%;
  height:auto;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  z-index: 2;
}

.items-panel-elem {
  padding: 5px;
}

#room-slider .slide img {
  border: 2px solid white;
}

#room-slider .slide:hover {
  cursor: pointer;
}

.active-slider {
  border: 2px solid #FED536 !important;
}

#room-preview img {
  width: 100%;
}

#dialog-form .room-inputs {
  display: none;
}

.active-room-inputs {
  display: block !important;
}

.form-group .equal {
  padding-top: 10px;
}

.bx-wrapper {
  margin-bottom: 10px !important;
}

.bx-prev {
  left: -20px !important;
}

.bx-next {
  right: -20px !important;
}

.hole {
  position: absolute;
  z-index: 1;
  background-color: white;

}

.dragg {
  position: relative;
}

.room-item {
  z-index: 2;
}

.out-of-area {
  border: 2px solid red !important;
}

.hole-border-top {
  border-top: 1px solid black;
}

.hole-border-bottom {
  border-bottom: 1px solid black;
}

.hole-border-left {
  border-left: 1px solid black;
}

.hole-border-right {
  border-right: 1px solid black;
}
