// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-page-image-block {
    position:relative;
}
.content-page-image {
    width: 100%;
}

.page-name {
    position: absolute;
    bottom: 8%;
    left: 4%;
    color: white;
    font-size: 50px;
}


@media (max-width: 767px) {
    .floating-text-container h1 {
        font-size: 20px;
    }
    .floating-text-container h3 {
        font-size: 12px;
    }
    .floating-text-container .btn-landing {
        font-size: 12px;
        padding: 5px 10px;
        border-width: 3px;
    }
}
