<table width="100%">
  <tr >
	  <td width="25%" style="border: 2px solid white; background-color: #F7F7F7;">
		  <div class="product_shipping_info_content">
			  <table width="100%">
				  <tr>
					  <td width="30%">
						  <img src="https://s3.amazonaws.com/gofourwalls/globalimages/floorplan-icon.png" style="max-width: 100%; height: auto; display: inline;"/>
					  </td>
					  <td width="100%">
						  <div class="product_shipping_label">					  
							  Layout Planning
						  </div>
						  <div class="product_shipping_value">
							  Try out our room planner below.
						  </div>
					  </td>
				  </tr>
				  <tr>
				  </tr>
			  </table>				  
		  </div>	
	  </td>
	  <td width="25%" style="border: 2px solid white;background-color: #F7F7F7;">
		  <div class="product_shipping_info_content">
			  <table width="100%">
				  <tr>
					  <td width="30%">
						  <img src="https://s3.amazonaws.com/gofourwalls/globalimages/estimated_delivery.png" style="max-width: 100%; height: auto; display: inline;"/>
					  </td>
					  <td width="100%">
						  <div class="product_shipping_label">					  
							  Estimated Delivery
						  </div>
						  <div class="product_shipping_value">
							  This item will be delivered within 5-15 business days.
						  </div>
					  </td>
				  </tr>
				  <tr>
				  </tr>
			  </table>				  
		  </div>
	  </td>
	  <td width="25%" style="border: 2px solid white;background-color: #F7F7F7;">
		  <div class="product_shipping_info_content">
			  <table width="100%">
				  <tr>
					  <td width="30%">
						  <img src="https://s3.amazonaws.com/gofourwalls/globalimages/delivery-services.png" style="max-width: 100%; height: auto; display: inline;"/>
					  </td>
					  <td width="100%">
						  <div class="product_shipping_label">					  
							  Delivery Services
						  </div>
						  <div class="product_shipping_value">
							  Delivery includes furniture setup and clean-up.
						  </div>
					  </td>
				  </tr>
				  <tr>
				  </tr>
			  </table>				  
		  </div>
	  </td>
	  <td width="25%" style="border: 2px solid white;background-color: #777;">
		  <div class="product_shipping_info_icon">
		  </div>
		  <div class="product_shipping_info_content">
			  <table width="100%">
				  <tr>
					  <td width="30%">
						  <img src="https://s3.amazonaws.com/gofourwalls/globalimages/message-icon.png" style="max-width: 100%; height: auto; display: inline;"/>
					  </td>
					  <td width="100%">
						  <div class="product_shipping_label"  style="color: white;">					  
							  Have a Question?
						  </div>
						  <div class="product_shipping_value">
				                <i class="fa fa-envelope" style="color: white;"></i>
				              	<a href="mailto:info@gofourwalls.com"  style="color: white;">Email us.</a>
						  </div>
					  </td>
				  </tr>
				  <tr>
				  </tr>
			  </table>
		  </div>
	  </td>
  </tr>
</table>