<div class="product-headings"><center>- About The Designer -</center></div>
<div class="col-md-3">
	<div class="timeline-image" style="padding: 0 5% 0 0; max-width: 50%; text-align: center; height: auto; float: right;">
	    <center><img class="img-circle img-responsive" src="https://s3.amazonaws.com/gofourwalls/globalimages/Designers/Karen+Lau+Headshot.JPG" alt="Karen Lau"></center>
	</div>
</div>
<div class="col-md-9">
	<div class="timeline-panel" style="padding: 0 0 0 10%;">
	    <div class="timeline-heading">
	        <h4 class="subheading">Karen Lau</h4>
	    </div>
		<div class="timeline-body">
		    <p>Expert in room planning and interior styling, Karen is the lead designer of Four Wall room designs. Her designs display a balance of neutral and natural colors and various textures using furniture, and is accented with sophisticated colors to bring energy into the room. </p>
		</div>	
	</div>
</div>