<div class="product-headings"><center>- About The Designer -</center></div>
<div class="col-md-4" style="padding: 0 5% 0 0;">
    
</div>
<div class="col-md-8" style="padding: 0 0 0 5%;">
    <p>Karen Lau</p>
    <p>Expert in room planning and interior styling, Karen is the lead designer of Four Wall 
room designs. Her designs display a balance of neutral and natural colors and various 
textures using furniture, and is accented with sophisticated colors to bring energy 
into the room. </p>
</div>