<header style="background-image: url(https://s3.amazonaws.com/gofourwalls/globalimages/banner-loft-living-kitchen.jpg); height: 30em; width: 100%;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Room In A Box</div>
            </div>
        </div>
</header>