.logistics_details
  %h2= "Supplier: #{@supplier.name}"
  - if @supplier.zones.present?
    %h2 Supplier Zones
    = render 'shoppe/zones/zones_table', zones: @supplier.zones
  - else
    Please add zone for this supplier
         