<footer  style="border-top: 10px solid #000; ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; 2015 All Rights Reserved.</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/go4walls" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/gofourwalls" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.pinterest.com/gofourwalls/" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row" style="padding: 10px 0 0 0; " ><img  height="33px" width="60px" style="padding: 0 10px;" src="http://mirens.com/wp-content/themes/mirens/img/ssl-icon.png" alt="SSL" /><span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=B8oA4Mts2ehz6ItLBzFAt42YkPu6WDIqjyv5yIFNSCSGPLxNLVInARXxzMx0"></script></span></div>
            </div>
        </div>
    </div>
</footer>